<p id="notice"><%= notice %></p>

<p>
  <strong>Color code:</strong>
  <%= @site.color_code %>
</p>

<p>
  <strong>Public uid:</strong>
  <%= @site.public_uid %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
